<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rockchips.mediacenter.localscan"
    android:versionCode="105000"
    android:versionName="1.05.000" >

    <uses-sdk
        android:minSdkVersion="19"
        android:targetSdkVersion="22" />

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.android.rockchips.permission.MEDIACENTER_SEND_RECV" />
    <!-- 6.0 需要加入此权限 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!-- 声明权限 -->
    <permission
        android:name="com.rockchips.mediacenter.localscan.PROTECT"
        android:protectionLevel="signatureOrSystem" >
    </permission>
	
    <!-- 声明权限 -->
    <permission 
	android:name="com.android.rockchips.permission.MEDIACENTER_SEND_RECV" 
	android:protectionLevel="signatureOrSystem" />
	
    <!-- 声明权限 -->
	<permission
        android:name="com.rockchips.mediacenter.localscan_server"
        android:protectionLevel="signatureOrSystem" >
    </permission>
    
    <application
        android:allowBackup="false"
        android:persistent="true" 
        android:name="com.rockchips.mediacenter.localscan.application.LocalScanApplication">
        <receiver android:name="com.rockchips.mediacenter.localscan.receiver.AutoBootReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.rockchips.mediacenter.localscan.receiver.LocDevServiceReceiver"
            android:permission="com.android.rockchips.permission.MEDIACENTER_SEND_RECV" >
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_MOUNTED" />
                <action android:name="android.intent.action.MEDIA_UNMOUNTED" />                
                <action android:name="android.intent.action.MEDIA_BAD_REMOVAL" />  
                <action android:name="android.intent.action.MEDIA_REMOVED" />               
                <data android:scheme="file" />
            </intent-filter>
        </receiver>

        <service
            android:name="com.rockchips.mediacenter.localscan.service.LocalScanService"
            android:exported="true"
            android:permission="com.rockchips.mediacenter.localscan_server" >
            <intent-filter>
                <action android:name="com.rockchips.mediacenter.localscan.service.localscanservice" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </service>

        <provider
            android:name="com.rockchips.mediacenter.localscan.database.LocalDeviceProvider"
            android:authorities="com.rockchips.mediacenter.localscan.provider"
	    android:permission="com.rockchips.mediacenter.localscan.PROTECT"
            android:exported="true" />
    </application>

</manifest>
